<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.the_gradian">
    <application
        android:label="the_gradian"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Add the following meta-data element -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY_HERE"/>
        
    </application>
</manifest>